.expoPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap column;
    align-items: center;
    padding-bottom: 10px;
} 

.expoTemp {
    display: flex;
    flex-direction: row;
    margin: 2% auto;
    justify-content: space-evenly;
    width: 100%;
}
.expoSect {
    border: white dashed 2px;
    width: 30%;
}

.expoSect h1 {
    padding-top: 2%;
    font-size: 25px;
    text-align: center;
}

.expoSect p {
padding: 5%;
}

a {
    color: red;
    text-decoration: none;
}

@media only screen and (max-width: 850px) {
    .expoPage {
        text-align: center;
    }

    .expoTemp {
        display: flex;
        flex-direction: column;
    }

    .expoSect {
        width: 100%;
        padding: 10px;
    }
}