* {
    box-sizing: border-box;
  }

/* Top Box Home-Page Code */
.topBox {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; 
    align-items: center;  
    justify-content: space-evenly;
}

.topBoxItems {
    border: white 2px dashed; 
    text-align: center;
    margin: 1% auto;
    font-size: 20px;
}

.top1 {
    width: 350px; 
    height: 350px;
}

.top2 {
    width: 60%;
}

/* Bottom Home-Page Box Code */
.bottomBox {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    padding: 10px;
}

.bottomBoxItems {
    border: white 2px dashed; 
    text-align: center;
    margin: 1% auto;
}

.box2 {
    width: 60%
}

/* Bottom NavBox Code */
.selectFlexBox {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; 
    margin: 2% auto;
    justify-content: space-evenly;
    font-size: 20px;
 
}
 img {
     width: 100%;
 }


 .imageSwag {
    margin-top: 4px;
    border: white ridge 2px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .top2 {
        width: 100%;
        margin: 10px;
    }

    .bottomBoxItems {
        width: 100%;
    }
 
    .imageSawg {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .selectFlexBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}