.navBar {
    display: flex;
    flex-direction: row;
    flex-flow: wrap row;
    justify-content: center;
    margin: 0 auto;
}

.button {
    height: 50px;
    width: 200px;
    background-color: black;
    font-family: "Comic Sans MS";
    border: 5px ridge white;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .navBar {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2% auto;
    }
}