.projectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap column;
    align-items: center;
    padding-bottom: 10px;
} 

.projectBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    text-align: center;
    align-items: center;
    width: 90%;
}

.projectBoxItems1 {
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 10px;
    border: white dashed 2px;
}

.projectBoxItems2 {
    width: 30%;
    border: white dashed 2px;
}
