* {
    box-sizing: border-box;
  }

.mainBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap column;
}  


.introStyle {
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}

.playBar {
    display:flex;
    flex-wrap: wrap row; 
    margin: auto;
    width: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
}

button {
    background-color: black;
    margin:auto;
    height: 40px;
    width: 80px;
    color: white;
}

.picHolder {
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 30%;
    height: 300px;
}

.container {
    padding-top: 20px;
    text-align: center;
}

/* Slide Show CSS */
.slider {
    position: relative;
    height: 300px;
}

.slide {
    position: absolute;
    opacity: 0;
    width: 300px;
    
}

.slide.active {
    opacity: 1;

}

.image {
    position: absolute;
    width: 100%;  
    border: ridge white 4px;
}
