* {
    box-sizing: border-box;
  }

.introStyle {
    border: dashed 5px white;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.picHolder {
    width: 30%;
    
}

.container {
    padding-top: 20px;
    text-align: center;
}

/* Slide Show CSS */
.slider {
    position: relative;
    height: 300px;
}

.slide {
    position: absolute;
    opacity: 0;
    width: 300px;
}

.slide.active {
    opacity: 1;

}

.image {
    position: absolute;
    width: 100%;  
    border: ridge white 4px;
}
