.expoPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap column;
    align-items: center;
    padding-bottom: 10px;
} 


.expoItems {
    width: 40%;
    height: 100%;
    text-align: center;
    border: white dashed 5px;
}

.onExpo {
    background: white;
    color: black;
}