* {
    box-sizing: border-box;
  }

body {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS";  
}

header {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 50px;
    text-align: center;
}

.mainBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap column;
    align-items: center;
    padding-bottom: 10px;
} 

.globalNavBar {
    color: green;
}

