* {
    box-sizing: border-box;
  }

body {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS";  
    border: white 5px dashed;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 50px;
    text-align: center;
}

.mainBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap row;
    align-items: center;
    padding-bottom: 10px;
} 

.playBar {
    display:flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 10px; 
    justify-content: space-evenly;
}

button {
    background-color: black;
    font-family: "Comic Sans MS"; 
    border: 2px ridge white;
    font-size: 15px;
    padding: 10px;
    margin:auto;
    height: 40px;
    width: 100px;
    color: white;
}

