* {
    box-sizing: border-box;
  }


body {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS";  
    border: white 5px dashed;
    width: auto;
    height: auto;

}

header {
    font-size: 50px;
    text-align: center;
};


@media only screen and (max-width: 995px) {
    body {
        padding: 10px;
        color: blue;
    }
}

